<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MassTemplateGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MassTemplateGenerator.Properties.Settings>
            <setting name="AppFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppMaxCashValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Nomina_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nomina_Beneficiario" serializeAs="String">
                <value>NOMBRE NOMINA</value>
            </setting>
            <setting name="Nomina_RefTrxRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nomina_RefTrx" serializeAs="String">
                <value>RefTrxN001</value>
            </setting>
            <setting name="Nomina_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nomina_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Nomina_Concepto" serializeAs="String">
                <value>CONCEPTO NOMINA</value>
            </setting>
            <setting name="Nomina_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="EfeCaja_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EfeCaja_TipoID" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EfeCaja_Beneficiario" serializeAs="String">
                <value>NOMBRE EFECTIVO EN CAJA</value>
            </setting>
            <setting name="EfeCaja_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EfeCaja_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EfeCaja_Concepto" serializeAs="String">
                <value>CONCEPTO EFECTIVO EN CAJA</value>
            </setting>
            <setting name="EfeCaja_Registro" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="EfeCaja_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="CkAdm_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CkAdm_Beneficiario" serializeAs="String">
                <value>NOMBRE CK ADM</value>
            </setting>
            <setting name="CkAdm_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CkAdm_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CkAdm_Descripcion" serializeAs="String">
                <value>DESCRIPCION CK ADM</value>
            </setting>
            <setting name="CkAdm_Sucursal" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="CkAdm_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="BCCk_AcctRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCCk_Cuenta" serializeAs="String">
                <value>80950734261</value>
            </setting>
            <setting name="BCCk_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCCk_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BCCk_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCCk_Beneficiario" serializeAs="String">
                <value>BENEFICIARIO BLOQ Y CONF CK</value>
            </setting>
            <setting name="BCCk_Concepto" serializeAs="String">
                <value>CONCEPTO BLOQ Y CONF CK</value>
            </setting>
            <setting name="BCCk_Observaciones" serializeAs="String">
                <value>OBSERVACIONES BLOQ Y CONF CHEQUE</value>
            </setting>
            <setting name="TBHD_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBHD_Beneficiario" serializeAs="String">
                <value>BENEFICIARIO TBHDL</value>
            </setting>
            <setting name="TBHD_RefTrxRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBHD_RefTrx" serializeAs="String">
                <value>RefTrxBHD1</value>
            </setting>
            <setting name="TBHD_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TBHD_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TBHD_Descripcion" serializeAs="String">
                <value>DESCRIPCION TBHDL</value>
            </setting>
            <setting name="TBHD_TipoCta" serializeAs="String">
                <value>CA</value>
            </setting>
            <setting name="TBHD_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="TBHD_Fax" serializeAs="String">
                <value />
            </setting>
            <setting name="TBHD_RefDebito" serializeAs="String">
                <value />
            </setting>
            <setting name="ACH_AcctRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACH_NumCta" serializeAs="String">
                <value>782514533</value>
            </setting>
            <setting name="ACH_Banco" serializeAs="String">
                <value>BPD</value>
            </setting>
            <setting name="ACH_TipoCta" serializeAs="String">
                <value>CA</value>
            </setting>
            <setting name="ACH_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACH_Beneficiario" serializeAs="String">
                <value>BENEFICIARIO ACH</value>
            </setting>
            <setting name="ACH_TipoMov" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="ACH_RefTrxRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACH_RefTrx" serializeAs="String">
                <value>RefTrxACH1</value>
            </setting>
            <setting name="ACH_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACH_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ACH_Descripcion" serializeAs="String">
                <value>DESCRIPCION ACH</value>
            </setting>
            <setting name="ACH_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="ACH_Fax" serializeAs="String">
                <value />
            </setting>
            <setting name="LBTR_AcctRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LBTR_NumCta" serializeAs="String">
                <value>782514533</value>
            </setting>
            <setting name="LBTR_Banco" serializeAs="String">
                <value>BPDODOSXXXX</value>
            </setting>
            <setting name="LBTR_TipoCta" serializeAs="String">
                <value>CA</value>
            </setting>
            <setting name="LBTR_Beneficiario" serializeAs="String">
                <value>BENEFICIARIO LBTR</value>
            </setting>
            <setting name="LBTR_TipoMov" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="LBTR_RefTrxRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LBTR_RefTrx" serializeAs="String">
                <value>RefTrxBC01</value>
            </setting>
            <setting name="LBTR_ValueRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LBTR_Monto" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LBTR_Descripcion" serializeAs="String">
                <value>DESCRIPCION LBTR</value>
            </setting>
            <setting name="LBTR_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="LBTR_Fax" serializeAs="String">
                <value />
            </setting>
            <setting name="LBTR_TipoID" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="LBTR_TargetRNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nomina_Cuenta" serializeAs="String">
                <value>27805051883</value>
            </setting>
            <setting name="EfeCaja_ID" serializeAs="String">
                <value>25870663238</value>
            </setting>
            <setting name="TBHD_NumCta" serializeAs="String">
                <value>02416278042</value>
            </setting>
            <setting name="LBTR_ID" serializeAs="String">
                <value>17159545790</value>
            </setting>
        </MassTemplateGenerator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
